includes:
    - phpstan-baseline.neon
    - vendor/nunomaduro/larastan/extension.neon
parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    paths:
        - ./vendor/lowerrocklabs/LaravelLivewireTablesAdvancedFilters/src
        - ./vendor/lowerrocklabs/LaravelLivewireTablesAdvancedFilters/config
        - ./vendor/lowerrocklabs/LaravelLivewireTablesAdvancedFilters/resources
